<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009875821676-2s1d4tjn9dojsp3ao31cicm174mjehc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009875821676-2s1d4tjn9dojsp3ao31cicm174mjehc5</string>
	<key>API_KEY</key>
	<string>AIzaSyDSUnGsmBO5kvfTeVDJywsyigcqqWSmuzY</string>
	<key>GCM_SENDER_ID</key>
	<string>1009875821676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.touchin.testapp</string>
	<key>PROJECT_ID</key>
	<string>ti-testapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ti-testapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009875821676:ios:3b95cafada68fd3a07a449</string>
	<key>DATABASE_URL</key>
	<string>https://ti-testapp.firebaseio.com</string>
</dict>
</plist>